<!DOCTYPE html>
<html>
<head>
    <title>Today's Three</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
    <h1>Today's Three</h1>
    {% if tasks %}
        <h2>Your three for today:</h2>
        <ul>
                {% for task in tasks %}
        {% if task["done"] == 1 %}
        <li style="text-decoration: line-through; color: gray;">
            {{ task["task_text"] }}
        </li>
        {% else %}
        <li>
            {{ task["task_text"] }}
            <form method="POST" action="/done">
                <input type="hidden" name="task_id" value="{{ task['id'] }}">
                <button type="submit">Done</button>
            </form>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    {% else %}

        <form method="POST">
        <input type="text" name="task1">
        <input type="text" name="task2">
        <input type="text" name="task3">
        <button type="submit">Save my three</button>
        </form>
    {%endif%}
    </div>
</body>
</html>

